<!DOCTYPE html>

<html>

<head>
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <div>Forecast - {{weatherDescription}}</div>
    <div>City - {{cityName}}</div>
  </div>

  {{>footer}}
</body>

</html>